/* .board {
  border-radius: 2rem;
  display: inline;
  width: 60vw;
  height: 65vh;
  border: honeydew 1px solid;
  box-shadow: 2px 2px 14px -7px #3a424f;
  margin-left: 8vw;
  cursor: url("./pencil.ico"), auto;
} */
